<script type="text/javascript">
  $(document).ready( function () {
    pr0bble_initialize('<%= @plattform %>', '<%=raw @configuration %>', '<%= @return_to %>');
  });
</script>

<form id="main-form">
  <div class="item-container">
    <div class="item-container-header">Benutzername</div>
    <div class="item-container-content">
      <label class="item">
        <div class="item-input-wrapper">
          <input type="text" class="item-input" name="username" id="username" placeholder="cha0s">
        </div>
      </label>
    </div>
  </div>

  <div class="item-container">
    <div class="item-container-header">Dickbutt</div>
    <div class="item-container-content">
      <label class="item">
        Dickbutt aktivieren
        <input type="checkbox" class="item-toggle" name="config_dickbutt" id="config_dickbutt">
      </label>
      <label class="item">
        <input type="range" class="item-slider" name="config_dickbutt_intensity" value="50">
        <div class="item-input-wrapper item-slider-text">
          <input type="text" class="item-input" name="config_dickbutt_intensity" id="config_dickbutt_intensity" value="50">
        </div>
      </label>
    </div>
    <div class="item-container-footer">
      Aktiviere den Dickbutt in dir! Der Regler gibt die Zufälligkeit an, wie oft Dickbutt dich besuchen soll. Je kleiner die Zufällgkeit, desto häufiger schaut er vorbei.
    </div>
  </div>

  <div class="item-container">
    <div class="button-container">
      <input type="button" class="item-button" id="button-submit" value="SPEICHERN">
    </div>
  </div>
</form>