<script type="text/javascript">
  $(document).ready( function () {
    pr0bble_initialize('<%= @plattform %>', '<%=raw @configuration %>', '<%= @return_to %>');
  });
</script>

<form id="main-form">
  <div class="item-container">
    <div class="item-container-header">Benutzername</div>
    <div class="item-container-content">
      <label class="item">
        <div class="item-input-wrapper">
          <input type="text" class="item-input" name="username" id="username" placeholder="cha0s">
        </div>
      </label>
    </div>
  </div>

  <div class="item-container">
    <div class="button-container">
      <input type="button" class="item-button" id="button-submit" value="SPEICHERN">
    </div>
  </div>
</form>